--- 
layout: default 
---


<section class="section">
  <div class="container">

    <h1 class="title is-1">Abschlussvorträge</h1>
    <!--h2 class="subtitle">Vorträge, Workshops, Trainings und Support</h2-->

    <div class="content has-seperator">

      {% assign abschlussvortraege=site.lehrveranstaltungen|sort:"date: %Y-%m-%d"| where:"kuerzel","abschlussvortraege" %}
      {% for abschlussvortrag in abschlussvortraege %}
      {% assign termine=abschlussvortrag.termine | split: "," %}
        {% for termin in termine %}
        {% assign teile=termin | split: " " %}
        {% assign datum=teile[0] %}
        {% assign vortraege=site.abschlussvortraege |sort:'uhrzeit'| where:"datum", datum %}
        {% if vortraege.size > 0 %}
        <h3>{{ datum | date: '%d. %B %Y' }}</h3>
        <table class="timetable-talks">
          <tbody>
            {% for vortrag in vortraege %}
            <tr>
              <td class="timetable-talks__time">{{ vortrag.uhrzeit | replace: "-", ":" }} Uhr</td>
              <td><a href="{{site.baseurl}}{{vortrag.url}}"><strong>{{vortrag.thema}}</strong></a><br> {{vortrag.vorname}} {{vortrag.nachname}}<br>
              {% assign stichworte = vortrag.stichworte|split: "," %}
              {%for stichwort in stichworte %}
              <span class="tag">{{stichwort}}</span>
              {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h3>{{ datum | date: '%d. %B %Y' }}</h3>
        <p>Bislang sind für diesen Termin noch keine Vorträge geplant.</p>
        {% endif %}
      {% endfor %} 
    {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <h2 id="tutorial">Sie wollen Ihren Abschlussvortrag halten?</h2>
      <div class="columns">
        <div class="column">
          <div class="js-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0B67QUoJVFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="column">
          Wenn Sie einen Abschlussvortrag halten, müssen Sie eine entsprechende Seite mit Informationen zu Ihrem Projekt <strong>eine Woche vor dem Vortrag</strong> via Pull Request hier bereit stellen. Wie das funktioniert wird im Video erklärt. Bei Fragen nutzen Sie bitte das Ilias Forum.
        </div>
      </div>
    </div>
  </div>
</section>