--- 
layout: default 
---
{% assign psso=site.data.termine-wie-psso.psso %}

<section class="section">
  <div class="container">

    <h1 class="title is-1">Abschlussvorträge</h1>
    <!--h2 class="subtitle">Vorträge, Workshops, Trainings und Support</h2-->

    <div class="content has-seperator">

      {% assign abschlussvortraege=site.lehrveranstaltungen | where:"kuerzel","abschlussvortraege" %}
      {% assign termine_abschlussvortraege="" | split: "," %}
      {% for abschlussvortrag in abschlussvortraege %}
        {% assign termine=abschlussvortrag.termine | split: "," %}
        {% for termin in termine %}
          {% assign teile=termin | split: " " %}
          {% assign datum=teile[0] %}
          {% assign termine_abschlussvortraege=termine_abschlussvortraege | push: datum %}
        {% endfor %}
      {% endfor %}
      {% assign termine_abschlussvortraege=termine_abschlussvortraege | sort %}
       
      {% for termin_abschlussvortrag in termine_abschlussvortraege %}
        {% assign vortraege=site.abschlussvortraege |sort:'uhrzeit'| where:"datum", termin_abschlussvortrag %}
        {% if vortraege.size > 0 %}
        {% assign vortragsdatum = termin_abschlussvortrag | date: '%d. %B %Y' | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"December","Dezember" | replace:"October","Oktober" %}
        <div class="talk">
        <div><h3 class="is-inverse talk__headline talk__headline--active" id="{{termin_abschlussvortrag}}">{{vortragsdatum}}</h3></div>
        <table class="timetable-talks">
          <tbody>
            {% for vortrag in vortraege %}
            {% include /functions/resolve-anrede.html name=vortrag.betreuer %}
            <tr id="{{ vortrag.vorname | append: vortrag.nachname | append: vortragsdatum | slugify }}" data-js-talk data-betreuer="{{anrede}}" data-sprecher="{{vortrag.vorname}} {{vortrag.nachname}}" data-thema="{{vortrag.thema}}" data-date="{{vortragsdatum}}" data-abstract-url="{{ vortrag.url | absolute_url }}">
              <td class="timetable-talks__time">{{ vortrag.uhrzeit | replace: "-", ":" }} Uhr</td>
              <td><a href="{{site.baseurl}}{{vortrag.url}}"><strong>{{vortrag.thema}}</strong></a><br> {{vortrag.vorname}} {{vortrag.nachname}}<br>
              <div class="timetable-talks__tags">
              {% assign stichworte = vortrag.stichworte|split: "," %}
              {%for stichwort in stichworte %}
              <span class="tag">{{stichwort}}</span>
              {% endfor %}
              </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="talk"><h3 class="is-inverse talk__headline">{{ termin_abschlussvortrag | date: '%d. %B %Y' | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"December","Dezember" | replace:"October","Oktober"}}</h3><p>Bislang sind für diesen Termin noch keine Vorträge geplant.</p></div>
      {% endif %}
       
    {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      
      <div class="columns">
        <div class="column">
        <h2 id="tutorial">Sie wollen Ihren Abschlussvortrag halten?</h2>
          <p>Wenn Sie einen Abschlussvortrag halten, müssen Sie eine entsprechende Teaserseite mit Informationen zu Ihrem Projekt <strong>eine Woche vor dem Vortrag</strong> via Pull Request hier bereit stellen. Wie das funktioniert wird im Video erklärt. Bei Fragen nutzen Sie bitte das ILU Forum.</p>
          <div class="js-video">
            <iframe width="400" height="315" src="https://www.youtube.com/embed/0B67QUoJVFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="column">
          <h2>Checkliste für die Abschlusspräsentationen</h2>
            <p>Damit Sie ihre Abschlusspräsentation halten können und diese bewertet werden kann, beachten Sie bitte folgende Punkte:</p>
            <ul>
              <li>Sie haben sich einen Termin im ILU für ihre Abschlusspräsentation gebucht. <a href="https://ilu.th-koeln.de/ilias.php?baseClass=ilrepositorygui&cmd=view&ref_id=472729">Termin im ILU buchen</a></li>
              <li>Zudem haben Sie sich im PSSO für dieses Modul angemeldet. Der Anmeldezeitraum 
                ist vom {{psso.anmeldung-ab}} bis zum {{psso.anmeldung-bis}}.
              </li>
              <li>Sie haben mindestens vier Abschlussvorträge von ihren Kommilitonen und Komilitoninnen gehört.</li>
              <li>Sie haben alle Artefakte aus den Workshops im ILU hochgeladen</li>
              <li>Zur Ihrem Abschlussvotrag haben Sie eine Teaserseite erstellt. Diese muss folgende Punkte enthalten:
                <ul>
                  <li>alle vorgegebenen Metadaten, ein Abstract und zwei Vorschläge zu Themen, die an Ihre Arbeit anknüpfen könnten</li>
                  <li>ein passendes Bild, dessen Bildrechte im Kontext der Praxisprojekt Website nutzbar sind</li>
                  <li>mit dem Markdownfile haben Sie ein Pull Request auf das Veranstaltungs Repository erzeugt. Wie das funktioniert, wird <a href="/mi-bachelor-praxisprojektseminar/abschlussvortraege/#tutorial">in diesem Screenmovie erklärt</a>.</li>
                </ul>
                 <li>Das Markdownfile wurde von einem der Mentoren gemerged und ihr Thema ist auf der <a href="/mi-bachelor-praxisprojektseminar/abschlussvortraege/">Übersichtsseite 
                  mit den Abschlussvorträgen</a> sichtbar.</li>
              <li>
                Laden Sie Ihre:n Betreuer:in bitte zu Ihrem Abschlussvortrag ein!</li>
            <ul>
        </div>
      </div>

      <!--div class="columns">
        <div class="column">
          <h2>Besonderheiten bei Online Präsentationen</h2>
          <p>Im Zuge der eingeschränkten Präsenztermine im aktuellen Sommersemester aufgrund der Covid-19 Problematik, finden die Termine des Praxisprojekt Seminars online statt. Somit sind auch die Abschlussvorträge Online Termine. Bitte berücksichtigen sie folgende Hinweise:</p>
          <ul>
            <li>sorgen Sie für eine gute Internetverbindung</li>
            <li>sorgen Sie für möglichst guten Ton, z.B. via Headset
            <li>sorgen Sie für eine ruhige Umgebung</li>
            <li>sorgen Sie für ein Kamerabild, da wir Sie zur Identifikation sehen müssen</li>
            <li>halten Sie ein Foto von Ihrer Multica bereit</li>
          </ul>
        </div>
        <div class="column">

        </div>
      </div-->
    </div>
  </div>
</section>

<script>
if(window.location.origin.match("http://127.0.0.1")){
  document.querySelectorAll("[data-js-talk]").forEach(
    talk => {
      let btn = document.createElement("BUTTON");
      btn.classList.add("button");
      btn.classList.add("is-small");
      btn.classList.add("is-outlined");
      btn.classList.add("timetable-talks__mail-button");
      btn.innerHTML = "@"; 
      btn.addEventListener("click", (ev)=>{
        let ele = ev.target.parentElement.parentElement;
        window.location.href = 'mailto:' + `?subject=Praxisprojekt Seminarnote // ${ele.dataset.sprecher}&body=Hallo ${ele.dataset.betreuer},`+ escape ("\n\n")+`am ${ele.dataset.date} war der Praxisprojekt Seminarvortrag von ${ele.dataset.sprecher} zum Thema «${ele.dataset.thema}». `+ escape ("\n\n")+`Mein Notenvorschlag wäre eine NOTE. Die Note setzt sich zusammen aus meiner Einschätzung zum`+ escape ("\n")+`Vortrag: NOTE`+ escape ("\n")+`Fachgespräch: NOTE`+ escape ("\n")+`Online Abstract: NOTE`+ escape ("\n\n")+`Passt das in etwa zu Deiner Einschätzung, bzw. zur Ausarbeitung?`+ escape ("\n\n")+`Dank und Grüße,`+ escape ("\n")+`Christian`;
        console.log(ev.target.parentElement.parentElement);
      }, false);
      talk.querySelector(".timetable-talks__time").appendChild(btn);
    }
  );
}
</script>
