--- 
layout: default 
---
{% assign psso=site.data.termine-wie-psso.psso %}

<section class="section">
  <div class="container">

    <h1 class="title is-1">Abschlussvorträge Snippets</h1>
    <!--h2 class="subtitle">Vorträge, Workshops, Trainings und Support</h2-->

    <div class="content has-seperator">

      {% assign abschlussvortraege=site.lehrveranstaltungen | where:"kuerzel","abschlussvortraege" %}
      {% assign termine_abschlussvortraege="" | split: "," %}
      {% for abschlussvortrag in abschlussvortraege %}
        {% assign termine=abschlussvortrag.termine | split: "," %}
        {% for termin in termine %}
          {% assign teile=termin | split: " " %}
          {% assign datum=teile[0] %}
          {% assign termine_abschlussvortraege=termine_abschlussvortraege | push: datum %}
        {% endfor %}
      {% endfor %}
      {% assign termine_abschlussvortraege=termine_abschlussvortraege | sort %}
       
      {% for termin_abschlussvortrag in termine_abschlussvortraege %}
        {% assign vortraege=site.abschlussvortraege |sort:'uhrzeit'| where:"datum", termin_abschlussvortrag %}
        {% if vortraege.size > 0 %}
        <h3 class="is-inverse" id="{{termin_abschlussvortrag}}">{{ termin_abschlussvortrag | date: '%d. %B %Y' | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"December","Dezember" | replace:"October","Oktober" }}</h3>

            {% for vortrag in vortraege %}
              <article class="social-media-snippet facebook">
                Praxisprojekt Seminarvortrag via Zoom: {{vortrag.vorname}} {{vortrag.nachname}} // {{ termin_abschlussvortrag | date: '%d. %B %Y' | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"December","Dezember" | replace:"October","Oktober" }}, {{ vortrag.uhrzeit | replace: "-", ":" }} Uhr<br>
                {{site.url}}{{site.baseurl}}{{vortrag.url}}<br>
                {% assign stichworte = vortrag.stichworte|split: "," %}
                {%for stichwort in stichworte %}
                <span class="tag">#{{stichwort}}</span>
                {% endfor %}
              </article>

              <article class="social-media-snippet twitter">
                Praxisprojekt Seminarvortrag via Zoom: {{vortrag.thema}} // {{ termin_abschlussvortrag | date: '%d. %B %Y' | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"December","Dezember" | replace:"October","Oktober" }}, {{ vortrag.uhrzeit | replace: "-", ":" }} Uhr<br>
                {{site.url}}{{site.baseurl}}{{vortrag.url}}<br>
                {% assign stichworte = vortrag.stichworte|split: "," %}
                {%for stichwort in stichworte %}
                <span class="tag">#{{stichwort}}</span>
                {% endfor %}
              </article>

              <hr>
            {% endfor %}

        {% else %}
        <h3 class="is-inverse">{{ termin_abschlussvortrag | date: '%d. %B %Y' | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"December","Dezember" | replace:"October","Oktober"}}</h3>
        <p>Bislang sind für diesen Termin noch keine Vorträge geplant.</p>
        {% endif %}
       
    {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      
      <div class="columns">
        <div class="column">
        <h2 id="tutorial">Sie wollen Ihren Abschlussvortrag halten?</h2>
          <p>Wenn Sie einen Abschlussvortrag halten, müssen Sie eine entsprechende Seite mit Informationen zu Ihrem Projekt <strong>eine Woche vor dem Vortrag</strong> via Pull Request hier bereit stellen. Wie das funktioniert wird im Video erklärt. Bei Fragen nutzen Sie bitte das Ilias Forum.</p>
          <div class="js-video">
            <iframe width="400" height="315" src="https://www.youtube.com/embed/0B67QUoJVFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="column">
          <h2>Checkliste für die Abschlusspräsentationen</h2>
            <p>Damit Sie ihre Abschlusspräsentation halten können und diese bewertet werden kann, beachten Sie bitte folgende Punkte:</p>
            <ul>
              <li>Sie haben sich einen Termin im Ilias für ihre Abschlusspräsentation gebucht. <a href="https://ilias.th-koeln.de/ilias.php?ref_id=1304831&cmd=view&cmdClass=ilrepositorygui&cmdNode=w4&baseClass=ilrepositorygui">Termin im Ilias buchen</a></li>
              <li>Zudem haben Sie sich im PSSO für dieses Modul angemeldet. Der Anmeldezeitraum 
                ist vom {{psso.anmeldung-ab}} bis zum {{psso.anmeldung-bis}}.
              </li>
              <li>Sie haben mindestens vier Abschlussvorträge von ihren Kommilitonen und Komilitoninnen gehört.</li>
              <li>Sie haben alle Artefakte aus den Workshops im Ilias hochgeladen</li>
              <li>Zur Ihrem Abschlussvotrag haben Sie ein Markdownfile erstellt. Dieses muss folgende Punkte enthalten:<br>
                alle vorgegebenen Metadaten, ein Abstract und zwei Vorschläge zu Themen, die an Ihre Arbeit anknüpfen könnten<br>
                Mit dem Markdownfile haben Sie ein Pull Request auf das Veranstaltungs Repository erzeugt. 
                Wie das funktioniert, wird <a href="/mi-bachelor-praxisprojektseminar/abschlussvortraege/#tutorial">in diesem Screenmovie erklärt</a>.</li>
              <li>Das Markdownfile wurde von einem der Mentoren gemerged und ihr Thema ist 
                auf der <a href="/mi-bachelor-praxisprojektseminar/abschlussvortraege/">Übersichtsseite 
                  mit den Abschlussvorträgen</a> sichtbar.</li>
            <ul>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <h2>Besonderheiten bei Online Präsentationen</h2>
          <p>Im Zuge der eingeschränkten Präsenztermine im aktuellen Sommersemester aufgrund der Covid-19 Problematik, finden die Termine des Praxisprojekt Seminars online statt. Somit sind auch die Abschlussvorträge Online Termine. Bitte berücksichtigen sie folgende Hinweise:</p>
          <ul>
            <li>sorgen Sie für eine gute Internetverbindung</li>
            <li>sorgen Sie für möglichst guten Ton, z.B. via Headset
            <li>sorgen Sie für eine ruhige Umgebung</li>
            <li>sorgen Sie für ein Kamerabild, da wir Sie zur Identifikation sehen müssen</li>
            <li>halten Sie ein Foto von Ihrer Multica bereit</li>
          </ul>
        </div>
        <div class="column">
          <!-- Tipps:
          - mal in ”Gestaltung Wissenschaftlicher Arbeiten" gucken
          - haben Sie Rechte auf das Bild?
          - Silbentrennung
          - Umbrüche
          -->
        </div>
      </div>
    </div>
  </div>
</section>


