--- 
layout: default-reduced
---
{% assign psso=site.data.termine-wie-psso.psso %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title is-1">Bearbeitete Praxisprojekte</h1>
        <p>Im Praxisprojekt werden die Studieninhalte, -methoden und -techniken der vorhergehenden fünf Semester anhand von realen Anforderungen in einem praxisrelevanten Kontext angewendet. Themenwahl, die Gewinnung von Kooperationspartnern und des betreuenden Dozent*in, sowie die Projektdurchführung und -kommunikation liegen in der Hand der Studierenden. Das Praxisprojekt kann entweder in einem Unternehmen oder in der Hochschule, dann eingebettet in Forschungsprojekte, erfolgen. Die nachfolgende Bachelorarbeit setzt häufig auf dem Praxisprojekt auf, führt dieses fort oder vertieft bestimmte Aspekte.<br><br></p>
        <p>Die Übersicht zeigt die zuletzt bearbeiteten Projekte.</p>
      </div>
    </div>
  </div>
</section>

<div class="mi-card-grid">
  {% assign themen=site.abschlussvortraege |sort:'datum'| reverse %}
  {% for thema in themen %}
    {%if thema.id contains "template" %}
    {% else %}
    <a href="{{site.baseurl}}{{thema.url}}">
    <figure class="mi-card" data-url="{{site.baseurl}}{{thema.url}}">
      <img src="../{{thema.id}}/../{{thema.teaserimage}}" loading="lazy" class="mi-card__image">
      <figcaption class="mi-card__info">
        <h2 class="mi-card__headline">{{thema.thema}}</h2>
        <p class="mi-card__teasertext">{{thema.vorname}} {{thema.nachname}}, {{thema.datum | date: '%Y' }}</p>
      </figcaption>        
    </figure>
    </a>
    {% endif %}  
  {% endfor %}
</div>

